<div class="row">
  <div class="col col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="btn btn-success pull-right" href="/bots/new" style="position: relative; top: 5px;"><i class="fa fa-plus-circle"></i> Add New Test</a>
        <h4>All Tests</h4>
      </div>
      <div class="panel-body">

        <table class="table">
          <thead>
            <tr>
              <th>Name</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= for test <- @tests do %>
                <tr>
                  <td><%= test.name %></td>

                  <td class="text-right">
                    <span><%= link "Show", to: test_path(@conn, :show, test), class: "btn btn-default btn-xs" %></span>
                    <span><%= link "Edit", to: test_path(@conn, :edit, test), class: "btn btn-default btn-xs" %></span>
                    <span><%= link "Delete", to: test_path(@conn, :delete, test), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
