/* This file is for your main application css. */


h1.light {font-weight: 100; color: orange;}
.jumbotron {margin-top: 10px; box-shadow: 1px 1px 1px rgba(0,0,0,.3);}
.form-bg {background: #f5f5f5; box-shadow: 1px 1px 1px rgba(0,0,0,.3); margin-top: 60px; padding: 5px 30px; border-radius: 5px;}
.form-bg legend {font-size: 30px; color: rgba(0,0,0,.5); font-weight: 100; padding-top: 15px; padding-bottom: 15px;}
.form-bg input {background: white;}
.form-bg .control-label {font-size: 20px; padding-top: 0; margin-top: 0; color: rgba(0,0,0,.5);}

.main-content-area {
  padding-top: 50px;
}
