<h2>Show Service</h2>

<ul>

  <li>
    <strong>Client:</strong>
    <%= @service.client_id %>
  </li>

  <li>
    <strong>Client secret:</strong>
    <%= @service.client_secret %>
  </li>

  <li>
    <strong>Auth token:</strong>
    <%= @service.auth_token %>
  </li>

  <li>
    <strong>Base uri:</strong>
    <%= @service.base_uri %>
  </li>

</ul>

<span><%= link "Edit", to: service_path(@conn, :edit, @service) %></span>
<span><%= link "Back", to: service_path(@conn, :index) %></span>
